* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 7px;
    box-shadow: 0px 0px 14px 0px #c3b7b7;
}



#champ {
    padding: 7px;
    width: 300px;
    border: 0.1px solid rgb(167, 164, 164);
    height: 40px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#champ:focus {
    box-shadow: 1px 0px 5px 1px blue;
    border: 0.1px solid rgb(167, 164, 164);

}

button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(27, 27, 215);
    color: white;
    border-radius: 4px;
    border: transparent;
}
h1 {
    color: rgb(185, 179, 179);
}
#del {
    background-color: red;
    color: white;
    position: relative;
    left: 9.9rem;        
    border: transparent;
}
p {
    width: 300px;
    height: 40px;
    background-color: green;
    position: relative;
    left: -1.5rem;
    border-radius: 4px;
    background-color: rgb(246, 241, 241);
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
    white-space: wrap;
    box-shadow: 0px 0px 14px 0px #c3b7b7;

}

span {
    color: green;
}

#upd {
    margin-right: 5px;
    margin-left: 5px;
}